html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.link {
  color: #4C74B9;
}

.colStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
}

.page_wrapper {
  margin: 1em 5% 10% 5%;
}

.rowStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.submitBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  border: 2px solid #000;
  box-shadow: 24;
};